/* 
<a href='https://www.freepik.com/free-photos-vectors/background'>Background photo created by topntp26 - www.freepik.com</a> */

#speed, #submit {
    outline: none;
}

.displayNone {
    margin: 20;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    
}
#greetingBlock {
    display:flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}
#greeting {
    margin: 10px;
    padding: 10px;
    width: 420px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    background-color: gray;
    
}

body {
    /* background-color: gray; */
    background-image: url("../bg-image/4944.jpg");
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

#console{
    background-color: lightgrey;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 40%;
    background-image: radial-gradient(white 20%, lightgrey 80%);
    box-shadow: 12px 18px 30px rgb(70, 70, 70);
}

#logo {
    margin: 15px;
    font-size: 40px;
    font-family: 'Indie Flower',cursive;
    color: lightgrey;

}

#buttons-section {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
}

.button{
    margin: 20px;
    padding: 5px;
    /* border-color: null; */
    border-width: 0px;
    border-radius: 100%;
    /* color: #f2c4ca; */
    width: 50px;
    height: 30px;
    background-color:lightgray;
    /* background-image: radial-gradient(white 20%, #f2c4ca 80%); */
    box-shadow: 1px 2px 4px rgb(112, 112, 112);
    outline: none;
}

#outer-display {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 310px; */
    width: 380px;
    height: 340px;
    border-radius: 3%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-shadow: inset -1px 1px 9px rgb(70, 70, 70);
}
.head-elements{
    margin: 0 auto;
}

#name-age {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

#name, #age{
    margin: 10px;
}

#metrics{
    display: flex;
    flex-direction: row;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin: -10px;
}

.metric {
    margin: 0 auto;
    margin: 10px;
    padding: 10px;
}

#inner-display {
    background-color: #e4e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 250px; */
    width: 360px;
    height: 250px;
    border-radius: 25%;
}

#petdiv {
    position: relative;
}

#dialogue{
    position: absolute;
    left: -17px;
    bottom: 42px;
    color: black;
    font-family: 'Press Start 2P', cursive;
}
#pet {
    position: absolute;
    left: 20px;
    bottom: -76px;
    width: 150px;
    height: 150px;
}
