
.displayNone {
    margin: 20;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    
}
#greetingBlock {
    display:flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}
#greeting {
    margin: 10px;
    padding: 10px;
    width: 420px;
    justify-content: center;
    align-items: center;
}

body {
    background-color: gray;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

#console{
    background-color: lightgrey;
    width: 420px;
    height: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 40%;
}

#logo {
    margin: 15px;

}

#buttons-section {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
}

.button{
    margin: 20px;
    padding: 5px;
    border-radius: 100%;
    background-color: lightgrey;
}

#outer-display {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 340px;
    border-radius: 3%;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
.head-elements{
    margin: 0 auto;
}

#name-age {
    display: flex;

    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

#name, #age{
    margin: 10px;
}

#metrics{
    display: flex;
    flex-direction: row;
}

.metric {
    margin: 0 auto;
    margin: 10px;
    padding: 10px;
}

#inner-display {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 25%;
}

#petdiv {
    position: relative;
}

#dialogue{
    position: absolute;
    left: -17px;
    bottom: 42px;
    color: black;
}
#pet {
    position: absolute;
    left: -19px;
    bottom: -76px;
    width: 150px;
    height: 150px;
}
